In [1]:
import pandas as pd
import re
import os
import numpy as np

In [2]:
from models import rt

exchanges = set(i.id for i in rt.exchanges)

In [3]:
biolog_map = pd.read_csv('plate_to_bigg.csv', index_col=False)
biolog_map

       plate        ex_rxn             compound_name      exchange
0    PM1-A10     EX_tre(e)               D-Trehalose      EX_tre_e
1    PM1-A11     EX_man(e)                 D-Mannose      EX_man_e
2    PM1-A12    EX_galt(e)                  Dulcitol     EX_galt_e
3     PM1-A2  EX_arab_L(e)               L-Arabinose  EX_arab__L_e
4     PM1-A3   EX_acgam(e)     N-Acetyl-DGlucosamine    EX_acgam_e
..       ...           ...                       ...           ...
153   PM4-D6  EX_pser_L(e)        O-Phospho-L-Serine  EX_pser__L_e
154   PM4-D7    EX_thrp(e)     O-Phospho-L-Threonine     EX_thrp_e
155   PM4-D9    EX_3ump(e)  Uridine-3’-monophosphate     EX_3ump_e
156   PM4-E1    EX_tyrp(e)      O-Phospho-D-Tyrosine     EX_tyrp_e
157  PM4-E11  EX_minohp(e)     InositolHexaphosphate   EX_minohp_e

[158 rows x 4 columns]

In [4]:
fname = 'data_biolog_rhodo/Table_2_Multi-Omics Driven Metabolic Network Reconstruction and Analysis of Lignocellulosic Carbon Utilization in Rhodosporidium toruloides.XLSX'

bl_data = pd.read_excel(fname, sheet_name='Biolog')
bl_data['growth'] = bl_data['Average > 0.1 and all replicates greater than negative control']

In [5]:
bl_data['plate'] = bl_data.PlateType + '-' + bl_data.Well
bl_data.growth = bl_data.growth.astype(bool)
bl_data.head()

,PlateType,Experiment,Well,Compound,Average ABS (590nm - 750nm),All replicates > negtive control,Average > 0.1,Average > 0.1 and all replicates greater than negative control,pVal (T-test),growth,plate
0,PM1,Carbon,A1,Negative Control,0.086400,False,False,False,0.500000,False,PM1-A1
1,PM1,Carbon,A2,L-Arabinose,0.344767,True,True,True,0.000082,True,PM1-A2
2,PM1,Carbon,A3,N-Acetyl-DGlucosamine,0.068867,False,False,False,0.030610,False,PM1-A3
3,PM1,Carbon,A4,D-Saccharic Acid,0.071200,False,False,False,0.015131,False,PM1-A4
4,PM1,Carbon,A5,Succinic Acid,0.111200,True,True,True,0.081596,True,PM1-A5

In [6]:
carbon_plate = bl_data.loc[bl_data.PlateType.isin(['PM1', 'PM2'])].copy()
nitrogren_plate = bl_data.loc[bl_data.PlateType.isin(['PM3B'])].copy()
nitrogren_plate.plate = nitrogren_plate.plate.str.replace('B', '')

In [7]:
nitrogren_plate[['plate', 'Compound', 'growth']]

       plate          Compound  growth
192   PM3-A1  Negative Control   False
193   PM3-A2           Ammonia    True
194   PM3-A3           Nitrite    True
195   PM3-A4           Nitrate    True
196   PM3-A5              Urea    True
..       ...               ...     ...
283   PM3-H8           Gly-Asn    True
284   PM3-H9           Gly-Gln    True
285  PM3-H10           Gly-Glu    True
286  PM3-H11           Gly-Met    True
287  PM3-H12           Met-Ala    True

[96 rows x 3 columns]

In [8]:
def merge_with_plate(plate):
    merged = pd.concat(
        [plate.set_index('plate'), biolog_map.set_index('plate')],
        axis=1,
        ignore_index=False
    )
    merged.dropna(subset=['growth', 'ex_rxn'], inplace=True)

    merged = merged.reset_index()
    merged#[['exchange', 'growth']]
    merged = subset_to_in_model(merged)[['exchange', 'growth']]
    merged['uptake'] = 10
    return merged

def subset_to_in_model(plate, model_ex=exchanges):
    return plate.loc[plate.exchange.isin(model_ex)]

carbon = merge_with_plate(carbon_plate)
nit = merge_with_plate(nitrogren_plate)
carbon.shape

(70, 3)

In [9]:
nit.shape

(37, 3)

In [10]:
carbon.to_csv('pm1_pm2_biolog.csv', index=False)
nit.to_csv('pm3b_biolog.csv', index=False)

## Gene ess. parsing

In [13]:
genes = set(i.id for i in rt.genes)
genes

{'10430',
 '15679',
 '10218',
 '16758',
 '10308',
 '9800',
 '14576',
 '10213',
 '12680',
 '14119',
 '15324',
 '14971',
 '10515',
 '16208',
 '9636',
 '15469',
 '11618',
 '15169',
 '11899',
 '16258',
 '11682',
 '9734',
 '14886',
 '14623',
 '8576',
 '13383',
 '9144',
 '14139',
 '10017',
 '15038',
 '9326',
 '14225',
 '16552',
 '16037',
 '9728',
 '15074',
 '11183',
 '8975',
 '12742',
 '16065',
 '9011',
 'COX2',
 '10540',
 '11017',
 '11973',
 '15287',
 '13190',
 '15911',
 '16092',
 '14195',
 '9425',
 '12570',
 '11375',
 '15059',
 '9746',
 '10592',
 '8441',
 '10953',
 '10292',
 '16505',
 '13288',
 '15180',
 '9241',
 '11403',
 '10551',
 '8859',
 '11971',
 '15328',
 '16359',
 '11837',
 '9923',
 '14960',
 '16775',
 '13706',
 '13935',
 '10812',
 '12795',
 '14465',
 '9708',
 '13708',
 '12099',
 '15746',
 '11741',
 '8456',
 '12122',
 '12096',
 'NAD6',
 '15756',
 '9250',
 '13419',
 '9571',
 '16423',
 '10007',
 '14022',
 '11389',
 '16404',
 '9274',
 '8853',
 '8460',
 '16323',
 '15807',
 '16666',
 '9596',
 '16850',
 '15694',
 '10848',
 '9772',
 '10226',
 '13899',
 '13128',
 '10541',
 '14565',
 '13007',
 '8905',
 '9113',
 '16484',
 '12155',
 '14229',
 '14546',
 '10276',
 '14111',
 '13369',
 'COX1',
 '9104',
 '16145',
 '14324',
 '13554',
 '10330',
 '9125',
 '12445',
 '12291',
 '14247',
 '12248',
 '11036',
 '8671',
 '15195',
 '16799',
 '15012',
 'NAD2',
 '9435',
 '12302',
 '14774',
 '13398',
 '9176',
 '15942',
 '9240',
 '11945',
 '15070',
 '13606',
 '8900',
 '9629',
 '10251',
 '13729',
 '13143',
 '13857',
 '11331',
 '10113',
 '16641',
 '12428',
 '13834',
 '8454',
 '13510',
 '14108',
 '10069',
 '11486',
 '12566',
 '12354',
 '11469',
 '13947',
 '12272',
 '16515',
 '12596',
 '12761',
 '11877',
 '12482',
 '13252',
 '9726',
 '11623',
 '14602',
 '14037',
 '9619',
 '9014',
 '13161',
 '16635',
 '11328',
 '14256',
 '11967',
 '16253',
 '13539',
 '12781',
 '13690',
 '8399',
 '9637',
 '11266',
 '16520',
 '13385',
 '10607',
 '10981',
 '10989',
 '16732',
 '13424',
 '13413',
 '10576',
 '15533',
 '15685',
 '10614',
 '8452',
 '11625',
 '10095',
 '16725',
 '13840',
 '15584',
 '12061',
 '15506',
 '16607',
 '12116',
 '11025',
 '15730',
 '11217',
 '15947',
 '10173',
 '12032',
 '15905',
 '8666',
 '9262',
 '15909',
 '12421',
 '16241',
 '15092',
 '9457',
 '12704',
 '16717',
 '12476',
 '9756',
 '15973',
 '13042',
 '15184',
 '13894',
 '15006',
 '12210',
 '12545',
 '12051',
 '11752',
 '11844',
 '11137',
 '9085',
 '11094',
 '12384',
 '15418',
 '10318',
 '8613',
 '14585',
 '9278',
 '12470',
 '12867',
 '14558',
 '8607',
 '15663',
 '9634',
 '14802',
 '8768',
 '10140',
 '15962',
 '12637',
 '10647',
 '8579',
 '11446',
 '15449',
 '9962',
 '13990',
 '15693',
 '15631',
 '14743',
 '12944',
 '10753',
 '13609',
 '16088',
 '15569',
 '11362',
 '15939',
 '10514',
 '13669',
 '8639',
 '11455',
 '14856',
 '8972',
 '15805',
 '15309',
 '15137',
 '13394',
 '13172',
 '12642',
 '9742',
 '15482',
 '13709',
 '12623',
 '11272',
 '14880',
 '12555',
 '12513',
 '13627',
 '8909',
 '16330',
 '16267',
 '15168',
 '8916',
 '15923',
 '11114',
 '9855',
 '12649',
 '8789',
 '9520',
 '8536',
 '12902',
 '15425',
 '15086',
 '14610',
 '15420',
 '12581',
 '11646',
 '9165',
 '12989',
 '11909',
 '8518',
 '10428',
 '15488',
 '13053',
 '13759',
 '13432',
 '11011',
 '13230',
 '9198',
 '9135',
 '16580',
 '16833',
 '16549',
 '8670',
 '15712',
 '8814',
 '8542',
 '9910',
 '16016',
 '10998',
 '8431',
 '11391',
 '13486',
 '10212',
 '11681',
 '10497',
 '12034',
 '14956',
 '16104',
 '14844',
 '14014',
 '13017',
 '12219',
 '15340',
 '10079',
 '10946',
 '16591',
 '16485',
 '10332',
 '15231',
 '12842',
 '11857',
 '10583',
 '8744',
 '15736',
 '13175',
 '11907',
 '13446',
 '12740',
 '8702',
 '16542',
 '16345',
 '11787',
 '13262',
 '13348',
 '13082',
 '12562',
 '13484',
 '16046',
 '15218',
 '9837',
 '16203',
 '15762',
 '10680',
 '9589',
 'ATP8',
 '16503',
 '12846',
 '15007',
 '10197',
 '8969',
 '9667',
 '12551',
 '10316',
 '16695',
 '12353',
 '16264',
 '14559',
 '12736',
 '13412',
 '16225',
 '13167',
 '13700',
 '10303',
 'NAD3',
 '15159',
 '11203',
 '14957',
 '9180',
 '11381',
 '15874',
 '8712',
 '9622',
 '14821',
 '14724',
 '13090',
 '13275',
 '12974',
 '11716',
 '13562',
 '10869',
 '11229',
 '15994',
 '14638',
 '14036',
 '11047',
 '14979',
 '15908',
 '10285',
 '14258',
 '12497',
 '9319',
 '16511',
 '10985',
 '10504',
 '8385',
 '11022',
 '13856',
 '10613',
 '9912',
 '14805',
 '14096',
 '11649',
 '9079',
 '8631',
 '9782',
 '8651',
 '16281',
 '15483',
 '8959',
 '14803',
 '14126',
 '16048',
 '11867',
 '15681',
 '12965',
 '14950',
 '10393',
 '8692',
 '14078',
 '10841',
 'COPII',
 '10184',
 '11542',
 '11642',
 '10012',
 '15423',
 '8790',
 '13041',
 '15706',
 '14788',
 '13140',
 '10408',
 '12976',
 '16648',
 '14309',
 '15385',
 '9050',
 '12690',
 '13900',
 '11849',
 '9222',
 '12408',
 '12565',
 '11420',
 '10210',
 '16592',
 '15879',
 '16031',
 '15759',
 '11307',
 '16522',
 '9037',
 '10705',
 '14839',
 '15998',
 '11536',
 '15167',
 '9536',
 '13824',
 '14277',
 '16779',
 '15556',
 '15864',
 '12605',
 '13628',
 '11172',
 '8446',
 '16738',
 '8575',
 '15518',
 '12118',
 '8635',
 '15109',
 '14866',
 '9015',
 '13060',
 '11202',
 '11686',
 '15276',
 '8530',
 '10811',
 '10170',
 '13603',
 '14853',
 '15314',
 '14934',
 '13757',
 '13637',
 '13287',
 '15252',
 '10529',
 '14521',
 '13105',
 '10277',
 '11039',
 '12743',
 '11267',
 '12916',
 '12221',
 '15845',
 '15744',
 '13987',
 '8781',
 '15037',
 '10577',
 '15404',
 '12132',
 '12876',
 '9900',
 '12485',
 '9495',
 '11993',
 '16630',
 '13106',
 '10427',
 '13559',
 '12434',
 '13272',
 '16585',
 '12923',
 '14132',
 '14942',
 '11151',
 '10845',
 '11925',
 '15240',
 '13445',
 '10144',
 '9700',
 '14554',
 '9166',
 '11117',
 '15156',
 '14545',
 '11216',
 '14786',
 '12881',
 '12158',
 '14849',
 '9167',
 '10635',
 '9830',
 '9216',
 '8486',
 '8569',
 '8863',
 '11647',
 '14197',
 '15713',
 '8580',
 '14878',
 '8901',
 '13670',
 '12883',
 '14709',
 '8759',
 '10206',
 '10043',
 '9080',
 '8878',
 '15140',
 '16097',
 '12950',
 '15839',
 '11873',
 '8602',
 '10380',
 '15900',
 '11723',
 '10885',
 '13524',
 '13580',
 '11802',
 '14002',
 '14369',
 '16681',
 '14499',
 '12553',
 '9145',
 '15814',
 '12007',
 '12475',
 '14541',
 '16475',
 '11884',
 '9298',
 '9689',
 '8777',
 '12506',
 '16655',
 '9220',
 '10200',
 '13087',
 '11332',
 '14245',
 '14617',
 '14480',
 '15991',
 '11534',
 '9888',
 '11352',
 '16284',
 '11341',
 '16507',
 '13443',
 '16018',
 '12042',
 '16030',
 '13608',
 '13791',
 '9277',
 '10331',
 '14261',
 '15358',
 '13842',
 '13228',
 '9300',
 '15589',
 '13797',
 '15237',
 '16477',
 '13426',
 '10490',
 '13582',
 '8819',
 '14109',
 '13411',
 '14698',
 '14031',
 '13319',
 '11188',
 '9979',
 '12625',
 '8747',
 '10461',
 '13044',
 '10941',
 '11876',
 '15880',
 '9267',
 '13350',
 '15848',
 'NAD1',
 '9688',
 '14574',
 '15435',
 '9644',
 '8758',
 '14925',
 '8616',
 '10317',
 '9704',
 '13297',
 '11604',
 '8845',
 '11147',
 '15496',
 '9886',
 '13722',
 '12154',
 '12778',
 '10228',
 'NAD5',
 '13049',
 '10685',
 '12540',
 '8372',
 '15507',
 '8434',
 '14826',
 '10304',
 '12269',
 '9106',
 '15300',
 'COX3',
 '8962',
 '13260',
 '14196',
 '11465',
 '13813',
 '10000',
 '13002',
 '9774',
 '16324',
 '14158',
 '12748',
 'NAD4',
 '10658',
 '14023',
 '11958',
 '9291',
 '13630',
 '11290',
 '13595',
 '16276',
 '9838',
 '13771',
 '14666',
 '11833',
 '9705',
 '8548',
 '8725',
 '10722',
 '9499',
 '8988',
 '16619',
 '11840',
 '16581',
 '13265',
 '8444',
 '16462',
 '10677',
 '9322',
 '16187',
 '15158',
 '14179',
 '8889',
 '13382',
 '9940',
 '8835',
 '8699',
 '8540',
 '15721',
 '9959',
 '15758',
 '13328',
 '10182',
 '13264',
 '11989',
 '16181',
 '15984',
 '11513',
 '11871',
 '13249',
 '10379',
 '12920',
 '16369',
 '15095',
 '11145',
 '8885',
 '12730',
 '12123',
 '16397',
 '15575',
 '9711',
 '9065',
 '10456',
 '13766',
 'COB',
 '15963',
 '9515',
 '14597',
 '11982',
 '10900',
 '14911',
 '14418',
 '14436',
 '16196',
 '16182',
 '9981',
 '10010',
 '9537',
 '12926',
 '10104',
 '14281',
 '15366',
 '15545',
 '8376',
 '10391',
 '10156',
 '10558',
 '14259',
 '16746',
 '12393',
 '14159',
 '15336',
 '9771',
 '12639',
 '15066',
 '15857',
 '9805',
 '9348',
 '16716',
 'ATP6',
 '12737',
 '15351',
 '12977',
 '15953',
 '8817',
 '9809',
 '11064',
 '8802',
 '9578',
 '15438',
 '9748',
 '16019',
 '9331',
 '13048',
 '14237',
 '15430',
 '13641',
 '14912',
 '12927',
 'NAD4L',
 '13492',
 '10602',
 '11739',
 '9434',
 '13137',
 '9938',
 '11208',
 '12161',
 '13380',
 '11777',
 '10802',
 '9730',
 '10570',
 '10469',
 '12843',
 '9438',
 '13239',
 '13100',
 '10149',
 '15188',
 '15121',
 '15600',
 '8677',
 '13917',
 '14600',
 '15585',
 '11550',
 '13553',
 '9102',
 '15429',
 '12752',
 '15069',
 '11910',
 '9841',
 '14170',
 '8618',
 '11050',
 '9088',
 '9377',
 '16213',
 '10629',
 '12646',
 '13733',
 '10246',
 '12093',
 '12594',
 '16193',
 '12086',
 '11340',
 '11809',
 '13711',
 '10704',
 '13555',
 '10484',
 '14252',
 '12151',
 '15748',
 '9354',
 '9929',
 '14162',
 '10475',
 '13268',
 '9635',
 'ATP9',
 '12620',
 '12446',
 '11075',
 '9315',
 '12898',
 '13656',
 '11343',
 '11629',
 '15342',
 '8589',
 '11793',
 '14070',
 '10264',
 '11463',
 '16564',
 '12715',
 '13286',
 '16618',
 '16228',
 '10674',
 '16128',
 '8707',
 '10220',
 '10452',
 '11799',
 '13409',
 '13423',
 '16682',
 '16713',
 '15470',
 '14900',
 '11178',
 '14001',
 '10572',
 '11610',
 '9084',
 '11351',
 '13569',
 '12080',
 '9825',
 '11103',
 '14718',
 '12784',
 '11882',
 '13485',
 '11893',
 '10455',
 '16280',
 '12385',
 '15555',
 '13734',
 '12855',
 '8693',
 '12121',
 '10460',
 '11583',
 '12912',
 '13614',
 '15534',
 '15426',
 '10040',
 '12815',
 '8709',
 '11136',
 '14087',
 '9990',
 '14317',
 '8936',
 '15248',
 '11702',
 '12410',
 '8867',
 '16202',
 '10921',
 '8970',
 '13986',
 '14908',
 '10716',
 '12471',
 '9531',
 '16266',
 '14463',
 '8601',
 '10029',
 '11129',
 '14368',
 '11543',
 '11977',
 ...}

In [14]:
ge_data = pd.read_excel(fname, sheet_name='RB-TDNA Seq')
ge_data.RTO4_ID = ge_data.RTO4_ID.astype(str)
ge_data['genename'] = 'G_'+ge_data.RTO4_ID.astype(str)
ge_data[['genename', 'M9_Glucose']]

ge_data = ge_data.loc[ge_data.RTO4_ID.isin(genes)].copy()
ge_data

,RTO4_ID,M9_Glucose,YNB Glucose,YNB Glucose plus Arginine,YNB Glucose plus Methionine,YNB Glucose plus Dropout Complete,Fitness During Lipid Mobilization,YNB Oleic Acid,YNB Cellobiose,YNB_CSM_KPO4 Glucose,...,YNB_PO4_L-arabitol,YNB_PO4_xylitol,YNB_PO4_D-ribulose,YNB_PO4_D-xylulose,YNB_PO4_CSM_Galactose,YNB_PO4_CSM_Lactate,YNB_PO4_CSM_Valine,YNB_PO4_CSM_Leucine,YNB_PO4_CSM_Phenylalanine,genename
0,10000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,G_10000
7,10007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,G_10007
10,10010,-0.130360,-0.558565,-0.332740,-0.260252,-0.383313,-0.030872,-0.611898,-0.097438,-0.035705,...,-0.732452,-0.836823,-0.490688,-0.534801,-0.035402,-0.427705,-0.143231,-0.240726,-0.376989,G_10010
12,10012,0.120928,-0.056685,-0.143451,-0.205516,-0.240177,-0.282986,-0.039371,0.021825,-0.185444,...,-0.185901,-0.347117,-0.043478,0.049640,-0.330369,-0.571357,-0.390520,-4.921371,-0.586259,G_10012
16,10017,-0.117902,0.001326,0.216430,0.169223,-0.072431,0.382748,0.455964,0.161420,0.012681,...,0.073421,0.076093,-0.266397,0.038548,0.024525,0.112220,-0.159979,-0.229817,-0.086100,G_10017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8306,9962,-0.102349,0.101140,0.044222,0.206130,0.142080,0.189212,-0.012657,-0.097314,0.004740,...,0.039896,0.240334,0.321752,0.089398,-0.254636,-0.723065,-0.622660,-0.047665,0.811095,G_9962
8323,9979,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,G_9979
8325,9981,-0.182969,-1.210120,-1.083946,-0.985173,-0.844407,-0.952909,-0.652234,0.200798,0.016013,...,-0.450650,-0.102575,-0.311876,-0.298921,-0.471137,-0.915556,-0.221405,-0.589374,-0.123179,G_9981
8334,9990,-0.272603,-0.184758,0.337242,0.525320,-0.020653,0.544806,-0.110552,-0.359997,0.187456,...,-4.105096,-4.463727,-0.667114,-4.072184,-0.077310,0.459774,0.053585,0.211604,-0.229242,G_9990
8339,9995,-0.808815,-1.067964,-1.066192,-0.112018,NaN,0.511979,1.222200,NaN,0.637911,...,-0.198884,0.387441,0.593386,0.796064,-0.916582,0.477380,0.268669,-0.754837,-1.102114,G_9995

In [16]:
ge_data.dropna(subset=['M9_Glucose'], inplace=True)
ge_data

,RTO4_ID,M9_Glucose,YNB Glucose,YNB Glucose plus Arginine,YNB Glucose plus Methionine,YNB Glucose plus Dropout Complete,Fitness During Lipid Mobilization,YNB Oleic Acid,YNB Cellobiose,YNB_CSM_KPO4 Glucose,...,YNB_PO4_L-arabitol,YNB_PO4_xylitol,YNB_PO4_D-ribulose,YNB_PO4_D-xylulose,YNB_PO4_CSM_Galactose,YNB_PO4_CSM_Lactate,YNB_PO4_CSM_Valine,YNB_PO4_CSM_Leucine,YNB_PO4_CSM_Phenylalanine,genename
10,10010,-0.130360,-0.558565,-0.332740,-0.260252,-0.383313,-0.030872,-0.611898,-0.097438,-0.035705,...,-0.732452,-0.836823,-0.490688,-0.534801,-0.035402,-0.427705,-0.143231,-0.240726,-0.376989,G_10010
12,10012,0.120928,-0.056685,-0.143451,-0.205516,-0.240177,-0.282986,-0.039371,0.021825,-0.185444,...,-0.185901,-0.347117,-0.043478,0.049640,-0.330369,-0.571357,-0.390520,-4.921371,-0.586259,G_10012
16,10017,-0.117902,0.001326,0.216430,0.169223,-0.072431,0.382748,0.455964,0.161420,0.012681,...,0.073421,0.076093,-0.266397,0.038548,0.024525,0.112220,-0.159979,-0.229817,-0.086100,G_10017
28,10029,-0.020871,0.052095,0.224890,0.241546,-0.067308,0.622053,-0.412340,0.096512,-0.167850,...,-0.759319,-0.288770,-0.648312,0.551737,-0.069712,-0.414340,0.039014,-0.424238,-1.523899,G_10029
37,10038,-0.365987,-0.198609,-0.156681,0.504791,-0.298004,-0.330527,-0.754754,-0.425817,-0.064758,...,0.157148,0.081089,-0.082244,-0.037806,-0.397060,-0.226573,-0.212943,-0.605702,-0.036510,G_10038
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8303,9959,-0.496589,-0.049252,-0.280461,-0.192801,-0.186293,0.094831,0.158215,-0.052001,-0.190215,...,-0.449143,-0.391230,-0.526536,-0.692617,-0.658693,-0.382288,-0.727372,-0.582871,0.019887,G_9959
8306,9962,-0.102349,0.101140,0.044222,0.206130,0.142080,0.189212,-0.012657,-0.097314,0.004740,...,0.039896,0.240334,0.321752,0.089398,-0.254636,-0.723065,-0.622660,-0.047665,0.811095,G_9962
8325,9981,-0.182969,-1.210120,-1.083946,-0.985173,-0.844407,-0.952909,-0.652234,0.200798,0.016013,...,-0.450650,-0.102575,-0.311876,-0.298921,-0.471137,-0.915556,-0.221405,-0.589374,-0.123179,G_9981
8334,9990,-0.272603,-0.184758,0.337242,0.525320,-0.020653,0.544806,-0.110552,-0.359997,0.187456,...,-4.105096,-4.463727,-0.667114,-4.072184,-0.077310,0.459774,0.053585,0.211604,-0.229242,G_9990
8339,9995,-0.808815,-1.067964,-1.066192,-0.112018,NaN,0.511979,1.222200,NaN,0.637911,...,-0.198884,0.387441,0.593386,0.796064,-0.916582,0.477380,0.268669,-0.754837,-1.102114,G_9995

In [17]:
ge_data.loc[ge_data.M9_Glucose>.5, 'essential'] = True
ge_data.loc[ge_data.M9_Glucose<.5, 'essential'] = False

In [ ]:
ge_data['gene'] =  ge_data['RTO4_ID']
ge_data['comment'] = ''

In [28]:
ge_data.dtypes

RTO4_ID                               object
M9_Glucose                           float64
YNB Glucose                          float64
YNB Glucose plus Arginine            float64
YNB Glucose plus Methionine          float64
YNB Glucose plus Dropout Complete    float64
Fitness During Lipid Mobilization    float64
YNB Oleic Acid                       float64
YNB Cellobiose                       float64
YNB_CSM_KPO4 Glucose                 float64
YNB_CSM_KPO4 Xylose                  float64
YNB_CSM_KPO4 Arabinose               float64
YNB_CSM_KPO4 Acetate                 float64
YNB_CSM_KPO4 p-Coumarate             float64
YNB_CSM_KPO4 Ferulate                float64
YNB_PO4_Benzoate                     float64
YNB_PO4_Mannose                      float64
YNB_PO4_L-lyxose                     float64
YNB_PO4_D-arabitol                   float64
YNB_PO4_L-arabitol                   float64
YNB_PO4_xylitol                      float64
YNB_PO4_D-ribulose                   float64
YNB_PO4_D-xylulose                   float64
YNB_PO4_CSM_Galactose                float64
YNB_PO4_CSM_Lactate                  float64
YNB_PO4_CSM_Valine                   float64
YNB_PO4_CSM_Leucine                  float64
YNB_PO4_CSM_Phenylalanine            float64
genename                              object
essential                             object
gene                                  object
comment                               object
dtype: object

In [29]:
ge_data[['gene','essential', 'comment']]

       gene essential comment
10    10010     False
12    10012     False
16    10017     False
28    10029     False
37    10038     False
...     ...       ...     ...
8303   9959     False
8306   9962     False
8325   9981     False
8334   9990     False
8339   9995     False

[720 rows x 3 columns]

In [30]:
import csv
ge_data[['gene','essential', 'comment']].to_csv('ge_m9_glucose.csv', index=False, quoting=csv.QUOTE_ALL)