In [1]:
import pandas as pd
import re
import os
import numpy as np

In [2]:
from models import rt

exchanges = set(i.id for i in rt.exchanges)

In [3]:
biolog_map = pd.read_csv('plate_to_bigg.csv', index_col=False)
biolog_map

       plate        ex_rxn             compound_name      exchange
0    PM1-A10     EX_tre(e)               D-Trehalose      EX_tre_e
1    PM1-A11     EX_man(e)                 D-Mannose      EX_man_e
2    PM1-A12    EX_galt(e)                  Dulcitol     EX_galt_e
3     PM1-A2  EX_arab_L(e)               L-Arabinose  EX_arab__L_e
4     PM1-A3   EX_acgam(e)     N-Acetyl-DGlucosamine    EX_acgam_e
..       ...           ...                       ...           ...
153   PM4-D6  EX_pser_L(e)        O-Phospho-L-Serine  EX_pser__L_e
154   PM4-D7    EX_thrp(e)     O-Phospho-L-Threonine     EX_thrp_e
155   PM4-D9    EX_3ump(e)  Uridine-3’-monophosphate     EX_3ump_e
156   PM4-E1    EX_tyrp(e)      O-Phospho-D-Tyrosine     EX_tyrp_e
157  PM4-E11  EX_minohp(e)     InositolHexaphosphate   EX_minohp_e

[158 rows x 4 columns]

In [4]:
fname = 'data_biolog_rhodo/Table_2_Multi-Omics Driven Metabolic Network Reconstruction and Analysis of Lignocellulosic Carbon Utilization in Rhodosporidium toruloides.XLSX'

bl_data = pd.read_excel(fname, sheet_name='Biolog')
bl_data['growth'] = bl_data['Average > 0.1 and all replicates greater than negative control']

In [5]:
bl_data['plate'] = bl_data.PlateType + '-' + bl_data.Well
bl_data.growth = bl_data.growth.astype(bool)
bl_data.head()

,PlateType,Experiment,Well,Compound,Average ABS (590nm - 750nm),All replicates > negtive control,Average > 0.1,Average > 0.1 and all replicates greater than negative control,pVal (T-test),growth,plate
0,PM1,Carbon,A1,Negative Control,0.086400,False,False,False,0.500000,False,PM1-A1
1,PM1,Carbon,A2,L-Arabinose,0.344767,True,True,True,0.000082,True,PM1-A2
2,PM1,Carbon,A3,N-Acetyl-DGlucosamine,0.068867,False,False,False,0.030610,False,PM1-A3
3,PM1,Carbon,A4,D-Saccharic Acid,0.071200,False,False,False,0.015131,False,PM1-A4
4,PM1,Carbon,A5,Succinic Acid,0.111200,True,True,True,0.081596,True,PM1-A5

In [6]:
carbon_plate = bl_data.loc[bl_data.PlateType.isin(['PM1', 'PM2'])].copy()
nitrogren_plate = bl_data.loc[bl_data.PlateType.isin(['PM3B'])].copy()
nitrogren_plate.plate = nitrogren_plate.plate.str.replace('B', '')

In [7]:
nitrogren_plate[['plate', 'Compound', 'growth']]

       plate          Compound  growth
192   PM3-A1  Negative Control   False
193   PM3-A2           Ammonia    True
194   PM3-A3           Nitrite    True
195   PM3-A4           Nitrate    True
196   PM3-A5              Urea    True
..       ...               ...     ...
283   PM3-H8           Gly-Asn    True
284   PM3-H9           Gly-Gln    True
285  PM3-H10           Gly-Glu    True
286  PM3-H11           Gly-Met    True
287  PM3-H12           Met-Ala    True

[96 rows x 3 columns]

In [8]:
def merge_with_plate(plate):
    merged = pd.concat(
        [plate.set_index('plate'), biolog_map.set_index('plate')],
        axis=1,
        ignore_index=False
    )
    merged.dropna(subset=['growth', 'ex_rxn'], inplace=True)

    merged = merged.reset_index()
    merged#[['exchange', 'growth']]
    merged = subset_to_in_model(merged)[['exchange', 'growth']]
    merged['uptake'] = 10
    return merged

def subset_to_in_model(plate, model_ex=exchanges):
    return plate.loc[plate.exchange.isin(model_ex)]

carbon = merge_with_plate(carbon_plate)
nit = merge_with_plate(nitrogren_plate)
carbon.shape

(70, 3)

In [9]:
nit.shape

(37, 3)

In [10]:
carbon.to_csv('pm1_pm2_biolog.csv', index=False)
nit.to_csv('pm3b_biolog.csv', index=False)

## Gene ess. parsing

In [10]:
genes = set(i.id for i in rt.genes)
genes

{'RT_13286',
 'RT_13167',
 'RT_11266',
 'RT_9629',
 'RT_10811',
 'RT_12639',
 'RT_8376',
 'RT_14229',
 'RT_12966',
 'RT_13824',
 'RT_9210',
 'RT_16280',
 'RT_10212',
 'RT_16046',
 'RT_11876',
 'RT_15504',
 'RT_15994',
 'RT_10848',
 'RT_10428',
 'RT_12545',
 'RT_8972',
 'RT_15218',
 'RT_14541',
 'RT_10583',
 'RT_14880',
 'RT_10452',
 'RT_9838',
 'RT_14126',
 'RT_9938',
 'RT_16799',
 'RT_9176',
 'RT_12269',
 'RT_NAD3',
 'RT_8845',
 'RT_16460',
 'RT_11178',
 'RT_15156',
 'RT_14023',
 'RT_11682',
 'RT_9244',
 'RT_15545',
 'RT_15874',
 'RT_11290',
 'RT_14849',
 'RT_11343',
 'RT_16228',
 'RT_15248',
 'RT_15358',
 'RT_15240',
 'RT_12704',
 'RT_NAD2',
 'RT_12421',
 'RT_13161',
 'RT_11114',
 'RT_15179',
 'RT_14418',
 'RT_11160',
 'RT_9664',
 'RT_9857',
 'RT_9728',
 'RT_11328',
 'RT_11469',
 'RT_10374',
 'RT_11257',
 'RT_16208',
 'RT_15336',
 'RT_9037',
 'RT_16284',
 'RT_9856',
 'RT_12221',
 'RT_11075',
 'RT_10475',
 'RT_13562',
 'RT_10961',
 'RT_10206',
 'RT_10677',
 'RT_14258',
 'RT_11618',
 'RT_12393',
 'RT_8548',
 'RT_14132',
 'RT_16203',
 'RT_11777',
 'RT_12736',
 'RT_9748',
 'RT_9015',
 'RT_11681',
 'RT_10113',
 'RT_11837',
 'RT_15828',
 'RT_NAD5',
 'RT_9644',
 'RT_10716',
 'RT_16732',
 'RT_15730',
 'RT_10998',
 'RT_12354',
 'RT_8486',
 'RT_10007',
 'RT_12690',
 'RT_8639',
 'RT_16716',
 'RT_15070',
 'RT_8885',
 'RT_8569',
 'RT_11752',
 'RT_14037',
 'RT_16742',
 'RT_15807',
 'RT_14241',
 'RT_11151',
 'RT_12562',
 'RT_11064',
 'RT_14465',
 'RT_8878',
 'RT_9708',
 'RT_9888',
 'RT_13137',
 'RT_13734',
 'RT_12965',
 'RT_9165',
 'RT_11625',
 'RT_13797',
 'RT_13041',
 'RT_11910',
 'RT_11741',
 'RT_10393',
 'RT_15806',
 'RT_14309',
 'RT_10276',
 'RT_13485',
 'RT_16065',
 'RT_12778',
 'RT_10674',
 'RT_8709',
 'RT_11117',
 'RT_12881',
 'RT_8446',
 'RT_11740',
 'RT_15848',
 'RT_10484',
 'RT_ATP9',
 'RT_10156',
 'RT_15252',
 'RT_14111',
 'RT_13090',
 'RT_15137',
 'RT_15140',
 'RT_15962',
 'RT_14866',
 'RT_8725',
 'RT_14281',
 'RT_13834',
 'RT_15556',
 'RT_14717',
 'RT_8666',
 'RT_12446',
 'RT_10331',
 'RT_10497',
 'RT_9635',
 'RT_10184',
 'RT_10029',
 'RT_16359',
 'RT_9905',
 'RT_11787',
 'RT_14197',
 'RT_8699',
 'RT_11802',
 'RT_9428',
 'RT_10570',
 'RT_16833',
 'RT_12353',
 'RT_13002',
 'RT_14036',
 'RT_10985',
 'RT_11136',
 'RT_9634',
 'RT_9771',
 'RT_10613',
 'RT_10292',
 'RT_15507',
 'RT_12927',
 'RT_9830',
 'RT_13539',
 'RT_10277',
 'RT_11973',
 'RT_13917',
 'RT_13489',
 'RT_13609',
 'RT_ATP6',
 'RT_16507',
 'RT_12302',
 'RT_9800',
 'RT_13042',
 'RT_10885',
 'RT_13900',
 'RT_12971',
 'RT_15008',
 'RT_16088',
 'RT_12581',
 'RT_15845',
 'RT_16369',
 'RT_11665',
 'RT_11877',
 'RT_15909',
 'RT_11702',
 'RT_11418',
 'RT_12485',
 'RT_9520',
 'RT_14610',
 'RT_9267',
 'RT_11629',
 'RT_15908',
 'RT_14001',
 'RT_9014',
 'RT_12883',
 'RT_13260',
 'RT_16258',
 'RT_14087',
 'RT_8768',
 'RT_11873',
 'RT_11229',
 'RT_14546',
 'RT_8766',
 'RT_16016',
 'RT_16641',
 'RT_12155',
 'RT_15721',
 'RT_15385',
 'RT_12099',
 'RT_8867',
 'RT_9730',
 'RT_11804',
 'RT_10461',
 'RT_15991',
 'RT_15756',
 'RT_13423',
 'RT_13382',
 'RT_15533',
 'RT_9300',
 'RT_12540',
 'RT_14545',
 'RT_12248',
 'RT_13791',
 'RT_16264',
 'RT_10182',
 'RT_16646',
 'RT_9220',
 'RT_9435',
 'RT_10551',
 'RT_15758',
 'RT_15880',
 'RT_12989',
 'RT_13990',
 'RT_15037',
 'RT_15188',
 'RT_11550',
 'RT_10140',
 'RT_16092',
 'RT_ATP8',
 'RT_11202',
 'RT_9262',
 'RT_14662',
 'RT_13082',
 'RT_12387',
 'RT_15109',
 'RT_15575',
 'RT_10722',
 'RT_15309',
 'RT_13925',
 'RT_14070',
 'RT_9855',
 'RT_15762',
 'RT_15228',
 'RT_13190',
 'RT_10900',
 'RT_15159',
 'RT_15600',
 'RT_16452',
 'RT_9240',
 'RT_15860',
 'RT_10953',
 'RT_15967',
 'RT_14368',
 'RT_16144',
 'RT_11723',
 'RT_13617',
 'RT_13249',
 'RT_14585',
 'RT_14369',
 'RT_15681',
 'RT_13302',
 'RT_9274',
 'RT_15167',
 'RT_11650',
 'RT_9637',
 'RT_8969',
 'RT_16276',
 'RT_10981',
 'RT_15506',
 'RT_8385',
 'RT_12151',
 'RT_10802',
 'RT_9322',
 'RT_10658',
 'RT_15631',
 'RT_15773',
 'RT_8585',
 'RT_15423',
 'RT_8431',
 'RT_14565',
 'RT_12743',
 'RT_16018',
 'RT_10602',
 'RT_16266',
 'RT_14002',
 'RT_15973',
 'RT_9734',
 'RT_9495',
 'RT_13595',
 'RT_16415',
 'RT_15483',
 'RT_16695',
 'RT_9198',
 'RT_15129',
 'RT_15469',
 'RT_10149',
 'RT_12620',
 'RT_11809',
 'RT_12132',
 'RT_13840',
 'RT_9596',
 'RT_8518',
 'RT_13740',
 'RT_14925',
 'RT_12408',
 'RT_13275',
 'RT_11871',
 'RT_16281',
 'RT_13690',
 'RT_15276',
 'RT_9746',
 'RT_11188',
 'RT_12219',
 'RT_9499',
 'RT_13935',
 'RT_9084',
 'RT_16423',
 'RT_14461',
 'RT_16030',
 'RT_12122',
 'RT_15496',
 'RT_10251',
 'RT_11352',
 'RT_13413',
 'RT_11208',
 'RT_11039',
 'RT_9102',
 'RT_11882',
 'RT_11129',
 'RT_11642',
 'RT_13842',
 'RT_13722',
 'RT_9841',
 'RT_10293',
 'RT_9700',
 'RT_16505',
 'RT_10845',
 'RT_8631',
 'RT_9900',
 'RT_9962',
 'RT_10812',
 'RT_13288',
 'RT_15693',
 'RT_9326',
 'RT_11583',
 'RT_16522',
 'RT_13670',
 'RT_10946',
 'RT_16640',
 'RT_8758',
 'RT_9080',
 'RT_9438',
 'RT_9113',
 'RT_10069',
 'RT_13524',
 'RT_10705',
 'RT_15007',
 'RT_12042',
 'RT_15947',
 'RT_16503',
 'RT_15998',
 'RT_16655',
 'RT_9278',
 'RT_12159',
 'RT_16273',
 'RT_9241',
 'RT_16475',
 'RT_16511',
 'RT_13214',
 'RT_9079',
 'RT_11183',
 'RT_14256',
 'RT_14480',
 'RT_14377',
 'RT_10317',
 'RT_14900',
 'RT_16484',
 'RT_9145',
 'RT_NAD4',
 'RT_10635',
 'RT_13348',
 'RT_10246',
 'RT_12034',
 'RT_11952',
 'RT_12912',
 'RT_16758',
 'RT_11993',
 'RT_12926',
 'RT_11267',
 'RT_13328',
 'RT_11769',
 'RT_13614',
 'RT_14821',
 'RT_9050',
 'RT_8399',
 'RT_12570',
 'RT_13709',
 'RT_11844',
 'RT_15939',
 'RT_9319',
 'RT_13948',
 'RT_11989',
 'RT_13239',
 'RT_9689',
 'RT_15685',
 'RT_16591',
 'RT_9515',
 'RT_10000',
 'RT_8712',
 'RT_10197',
 'RT_13409',
 'RT_15713',
 'RT_13628',
 'RT_16193',
 'RT_13383',
 'RT_13986',
 'RT_14108',
 'RT_9782',
 'RT_10629',
 'RT_11332',
 'RT_9065',
 'RT_14158',
 'RT_10316',
 'RT_12781',
 'RT_13007',
 'RT_13385',
 'RT_12902',
 'RT_10040',
 'RT_15430',
 'RT_14179',
 'RT_14623',
 'RT_15902',
 'RT_13603',
 'RT_8863',
 'RT_16619',
 'RT_15429',
 'RT_11486',
 'RT_8576',
 'RT_11925',
 'RT_15982',
 'RT_10379',
 'RT_12646',
 'RT_9469',
 'RT_8747',
 'RT_9711',
 'RT_13630',
 'RT_9619',
 'RT_13297',
 'RT_15141',
 'RT_8959',
 'RT_13706',
 'RT_11410',
 'RT_15426',
 'RT_11052',
 'RT_9394',
 'RT_11217',
 'RT_11543',
 'RT_9979',
 'RT_8671',
 'RT_12594',
 'RT_15518',
 'RT_16630',
 'RT_16048',
 'RT_10558',
 'RT_13656',
 'RT_15404',
 'RT_9354',
 'RT_9222',
 'RT_15905',
 'RT_14912',
 'RT_15759',
 'RT_11793',
 'RT_9324',
 'RT_12846',
 'RT_16031',
 'RT_13228',
 'RT_9805',
 'RT_9742',
 'RT_12410',
 'RT_15584',
 'RT_9912',
 'RT_16253',
 'RT_13264',
 'RT_11351',
 'RT_15436',
 'RT_8853',
 'RT_13486',
 'RT_15482',
 'RT_13445',
 'RT_8819',
 'RT_COPII',
 'RT_15074',
 'RT_10264',
 'RT_11945',
 'RT_8814',
 'RT_13894',
 'RT_10218',
 'RT_10226',
 'RT_9705',
 'RT_8443',
 'RT_11977',
 'RT_NAD1',
 'RT_13608',
 'RT_14022',
 'RT_15340',
 'RT_14844',
 'RT_15033',
 'RT_16581',
 'RT_12635',
 'RT_14436',
 'RT_10285',
 'RT_16648',
 'RT_13230',
 'RT_14096',
 'RT_15195',
 'RT_14259',
 'RT_11982',
 'RT_16213',
 'RT_14934',
 'RT_15158',
 'RT_9837',
 'RT_14252',
 'RT_12497',
 'RT_11147',
 'RT_8618',
 'RT_15095',
 'RT_10647',
 'RT_16775',
 'RT_13700',
 'RT_8460',
 'RT_8580',
 'RT_16128',
 'RT_14237',
 'RT_8916',
 'RT_12855',
 'RT_9929',
 'RT_11893',
 'RT_15086',
 'RT_15314',
 'RT_11047',
 'RT_16097',
 'RT_12445',
 'RT_8542',
 'RT_14558',
 'RT_14979',
 'RT_12923',
 'RT_16267',
 'RT_11958',
 'RT_12118',
 'RT_11833',
 'RT_9639',
 'RT_11536',
 'RT_11011',
 'RT_10136',
 'RT_8602',
 'RT_9166',
 'RT_14600',
 'RT_12653',
 'RT_13419',
 'RT_12867',
 'RT_8651',
 'RT_15534',
 'RT_13252',
 'RT_13100',
 'RT_12625',
 'RT_15184',
 'RT_15006',
 'RT_16287',
 'RT_15679',
 'RT_8670',
 'RT_COX3',
 'RT_16779',
 'RT_16549',
 'RT_11362',
 'RT_14196',
 'RT_15237',
 'RT_16196',
 'RT_10504',
 'RT_13106',
 'RT_10541',
 'RT_11857',
 'RT_16717',
 'RT_10753',
 'RT_15805',
 'RT_11463',
 'RT_16607',
 'RT_13208',
 'RT_11542',
 'RT_13733',
 'RT_8633',
 'RT_14957',
 'RT_16323',
 'RT_11962',
 'RT_14617',
 'RT_13172',
 'RT_14805',
 'RT_11878',
 'RT_12740',
 'RT_9571',
 'RT_11799',
 'RT_16746',
 'RT_16241',
 'RT_11909',
 'RT_13711',
 'RT_16037',
 'RT_10469',
 'RT_NAD4L',
 'RT_16580',
 'RT_14162',
 'RT_8454',
 'RT_8789',
 'RT_9604',
 'RT_15589',
 'RT_9434',
 'RT_9774',
 'RT_13432',
 'RT_9923',
 'RT_10391',
 'RT_14724',
 'RT_10704',
 'RT_14554',
 'RT_10841',
 'RT_15585',
 'RT_9180',
 'RT_14185',
 'RT_11167',
 'RT_14247',
 'RT_15418',
 'RT_8702',
 'RT_15324',
 'RT_13380',
 'RT_12506',
 'RT_16659',
 'RT_9283',
 'RT_12553',
 'RT_11137',
 'RT_13813',
 'RT_14698',
 'RT_10572',
 'RT_8988',
 'RT_15706',
 'RT_16145',
 'RT_13319',
 'RT_8889',
 'RT_11389',
 'RT_10456',
 'RT_9910',
 'RT_11513',
 'RT_8444',
 'RT_12513',
 'RT_11849',
 'RT_15066',
 'RT_14666',
 'RT_8395',
 'RT_14878',
 'RT_12210',
 'RT_14014',
 'RT_9425',
 'RT_15420',
 'RT_11884',
 'RT_14853',
 'RT_14971',
 'RT_12291',
 'RT_13582',
 'RT_11899',
 'RT_10529',
 'RT_16666',
 'RT_13857',
 'RT_13569',
 'RT_16187',
 'RT_8790',
 'RT_10514',
 'RT_10937',
 'RT_14261',
 'RT_12605',
 'RT_10308',
 'RT_12843',
 'RT_8781',
 'RT_15694',
 'RT_9886',
 'RT_11420',
 'RT_11050',
 'RT_15133',
 'RT_13553',
 'RT_12407',
 'RT_10680',
 'RT_8707',
 'RT_10460',
 'RT_11403',
 'RT_12637',
 'RT_16225',
 'RT_8607',
 'RT_13492',
 'RT_16682',
 'RT_8530',
 'RT_15783',
 'RT_8613',
 'RT_11375',
 'RT_14774',
 'RT_13959',
 'RT_15012',
 'RT_COB',
 'RT_13053',
 'RT_14856',
 'RT_10318',
 'RT_9135',
 'RT_11036',
 'RT_9144',
 'RT_16011',
 'RT_13443',
 'RT_11022',
 'RT_14139',
 'RT_8434',
 'RT_16477',
 'RT_12061',
 'RT_14597',
 'RT_9537',
 'RT_13444',
 'RT_9726',
 'RT_9688',
 'RT_9825',
 'RT_13627',
 'RT_12566',
 'RT_15791',
 'RT_13484',
 'RT_9959',
 'RT_15736',
 'RT_11205',
 'RT_10010',
 'RT_13580',
 'RT_12564',
 'RT_11269',
 'RT_9981',
 'RT_8744',
 'RT_13140',
 'RT_14277',
 'RT_14743',
 'RT_12051',
 'RT_8962',
 'RT_11409',
 'RT_14195',
 'RT_8372',
 'RT_8616',
 'RT_13287',
 'RT_11017',
 'RT_14109',
 'RT_9756',
 'RT_15449',
 'RT_12815',
 'RT_8692',
 'RT_12382',
 'RT_13969',
 'RT_11604',
 'RT_15844',
 'RT_13637',
 'RT_14574',
 'RT_10869',
 'RT_15425',
 'RT_15059',
 'RT_15829',
 'RT_15923',
 'RT_11341',
 'RT_9990',
 'RT_12976',
 'RT_11534',
 'RT_9125',
 'RT_9348',
 'RT_9315',
 'RT_12623',
 'RT_12842',
 'RT_12170',
 'RT_10989',
 'RT_10220',
 'RT_16181',
 'RT_9457',
 'RT_15169',
 'RT_16738',
 'RT_12007',
 'RT_10685',
 'RT_11103',
 'RT_12086',
 'RT_16404',
 'RT_12154',
 'RT_10614',
 'RT_15366',
 'RT_15856',
 'RT_13048',
 'RT_9578',
 'RT_11971',
 'RT_15287',
 'RT_15038',
 'RT_10170',
 'RT_12680',
 'RT_16202',
 'RT_14225',
 'RT_15879',
 'RT_16725',
 'RT_12876',
 'RT_11776',
 'RT_9704',
 'RT_15900',
 'RT_13729',
 'RT_14324',
 'RT_14718',
 'RT_12158',
 'RT_10607',
 'RT_16837',
 'RT_14908',
 'RT_8759',
 'RT_11623',
 'RT_9772',
 'RT_10079',
 'RT_16345',
 'RT_12795',
 'RT_10577',
 'RT_10941',
 'RT_10592',
 'RT_13017',
 'RT_10200',
 'RT_8777',
 'RT_15305',
 'RT_13856',
 'RT_12555',
 'RT_8441',
 'RT_15180',
 'RT_11525',
 'RT_11840',
 'RT_13510',
 'RT_13708',
 'RT_14914',
 'RT_10303',
 'RT_13412',
 'RT_15470',
 'RT_14559',
 'RT_14031',
 'RT_NAD6',
 'RT_13757',
 'RT_12551',
 'RT_11649',
 'RT_8677',
 'RT_9829',
 'RT_9250',
 'RT_12974',
 'RT_15942',
 'RT_14839',
 'RT_13265',
 'RT_15351',
 'RT_12916',
 'RT_16453',
 'RT_14576',
 'RT_11867',
 'RT_10490',
 'RT_8635',
 'RT_11907',
 'RT_11025',
 'RT_11446',
 'RT_15168',
 'RT_15746',
 'RT_14803',
 'RT_12944',
 'RT_12428',
 'RT_14170',
 'RT_14802',
 'RT_12470',
 'RT_8936',
 'RT_15857',
 'RT_13766',
 'RT_15744',
 'RT_15300',
 'RT_15953',
 'RT_12121',
 'RT_14886',
 'RT_13350',
 'RT_11331',
 'RT_9291',
 'RT_12596',
 'RT_9106',
 'RT_9589',
 'RT_12031',
 'RT_11391',
 'RT_15814',
 'RT_13087',
 'RT_16713',
 'RT_10104',
 'RT_12565',
 'RT_10576',
 'RT_15911',
 'RT_12032',
 'RT_13175',
 'RT_15092',
 'RT_14499',
 'RT_8901',
 'RT_16528',
 'RT_13606',
 'RT_15339',
 'RT_10455',
 'RT_10330',
 'RT_16736',
 'RT_13268',
 'RT_8970',
 'RT_14826',
 'RT_10043',
 'RT_15435',
 'RT_12475',
 'RT_16206',
 'RT_13426',
 'RT_13411',
 'RT_13669',
 'RT_13128',
 'RT_10921',
 'RT_16462',
 'RT_9809',
 'RT_12476',
 'RT_13060',
 'RT_16542',
 'RT_10213',
 'RT_15342',
 'RT_9216',
 'RT_COX1',
 'RT_15438',
 'RT_11465',
 'RT_8900',
 'RT_12977',
 'RT_10540',
 'RT_9137',
 'RT_COX2',
 'RT_16324',
 'RT_12385',
 'RT_12080',
 'RT_9377',
 'RT_16397',
 'RT_10228',
 'RT_14960',
 'RT_8536',
 'RT_9104',
 'RT_13759',
 'RT_9531',
 'RT_16585',
 'RT_8905',
 'RT_12482',
 'RT_12116',
 'RT_13398',
 'RT_8608',
 'RT_13394',
 'RT_13559',
 'RT_16275',
 'RT_11340',
 'RT_10017',
 'RT_13694',
 'RT_15069',
 'RT_14213',
 'RT_11647',
 'RT_12784',
 'RT_10095',
 'RT_8859',
 'RT_11145',
 'RT_8579',
 'RT_13987',
 'RT_14911',
 'RT_8575',
 'RT_8540',
 'RT_13446',
 'RT_8693',
 'RT_10012',
 'RT_16019',
 'RT_15712',
 'RT_16850',
 'RT_15488',
 'RT_12096',
 ...}

In [20]:
ge_data = pd.read_excel(fname, sheet_name='RB-TDNA Seq')
ge_data.RTO4_ID = ge_data.RTO4_ID.astype(str)
ge_data['genename'] = 'RT_'+ge_data.RTO4_ID.astype(str)
ge_data[['genename', 'M9_Glucose']]

      genename  M9_Glucose
0     RT_10000         NaN
1     RT_10001    0.470687
2     RT_10002    0.283788
3     RT_10003   -0.030815
4     RT_10004   -0.071440
...        ...         ...
8339   RT_9995   -0.808815
8340   RT_9996         NaN
8341   RT_9997    0.128856
8342   RT_9998    0.360599
8343   RT_9999    0.038043

[8344 rows x 2 columns]

In [23]:
genes_in_data = set(ge_data.genename.values)
genes_in_data

{'RT_16373',
 'RT_12873',
 'RT_15077',
 'RT_12208',
 'RT_11637',
 'RT_13222',
 'RT_9707',
 'RT_15983',
 'RT_16413',
 'RT_14229',
 'RT_12966',
 'RT_11238',
 'RT_10328',
 'RT_12250',
 'RT_14126',
 'RT_8685',
 'RT_9788',
 'RT_11765',
 'RT_11671',
 'RT_14227',
 'RT_15732',
 'RT_14160',
 'RT_13977',
 'RT_10433',
 'RT_16003',
 'RT_11385',
 'RT_13161',
 'RT_11114',
 'RT_14418',
 'RT_15412',
 'RT_12809',
 'RT_16063',
 'RT_13916',
 'RT_9037',
 'RT_16284',
 'RT_9039',
 'RT_15062',
 'RT_12028',
 'RT_11015',
 'RT_12903',
 'RT_10356',
 'RT_14082',
 'RT_12236',
 'RT_13404',
 'RT_10268',
 'RT_11837',
 'RT_13919',
 'RT_8639',
 'RT_8375',
 'RT_13359',
 'RT_10999',
 'RT_8994',
 'RT_8812',
 'RT_12523',
 'RT_15865',
 'RT_9989',
 'RT_8785',
 'RT_12600',
 'RT_13797',
 'RT_10874',
 'RT_10675',
 'RT_14373',
 'RT_15708',
 'RT_8729',
 'RT_12008',
 'RT_16698',
 'RT_14920',
 'RT_8725',
 'RT_14994',
 'RT_15553',
 'RT_12609',
 'RT_16595',
 'RT_8788',
 'RT_9847',
 'RT_9503',
 'RT_12176',
 'RT_16248',
 'RT_16833',
 'RT_12586',
 'RT_9865',
 'RT_12182',
 'RT_15492',
 'RT_12927',
 'RT_9677',
 'RT_15658',
 'RT_15912',
 'RT_10368',
 'RT_13292',
 'RT_14816',
 'RT_16687',
 'RT_16795',
 'RT_10813',
 'RT_13982',
 'RT_9647',
 'RT_13833',
 'RT_14577',
 'RT_8879',
 'RT_13127',
 'RT_14244',
 'RT_9049',
 'RT_12424',
 'RT_16155',
 'RT_8979',
 'RT_15669',
 'RT_16554',
 'RT_12466',
 'RT_11785',
 'RT_13699',
 'RT_14610',
 'RT_11629',
 'RT_15476',
 'RT_16211',
 'RT_8768',
 'RT_13488',
 'RT_11955',
 'RT_14546',
 'RT_13188',
 'RT_13798',
 'RT_12557',
 'RT_13423',
 'RT_12880',
 'RT_9642',
 'RT_14470',
 'RT_10359',
 'RT_15758',
 'RT_11561',
 'RT_14141',
 'RT_14435',
 'RT_16490',
 'RT_16256',
 'RT_14365',
 'RT_11789',
 'RT_8611',
 'RT_13607',
 'RT_14057',
 'RT_14414',
 'RT_12128',
 'RT_14654',
 'RT_9325',
 'RT_9917',
 'RT_13679',
 'RT_16158',
 'RT_15773',
 'RT_11670',
 'RT_13973',
 'RT_14500',
 'RT_16038',
 'RT_11903',
 'RT_15904',
 'RT_12817',
 'RT_12141',
 'RT_14938',
 'RT_15461',
 'RT_15035',
 'RT_12132',
 'RT_15247',
 'RT_16259',
 'RT_13344',
 'RT_8860',
 'RT_11499',
 'RT_9988',
 'RT_9097',
 'RT_11817',
 'RT_13618',
 'RT_13790',
 'RT_11424',
 'RT_8847',
 'RT_11854',
 'RT_14115',
 'RT_15122',
 'RT_16786',
 'RT_8700',
 'RT_14570',
 'RT_9261',
 'RT_12990',
 'RT_14529',
 'RT_9255',
 'RT_8728',
 'RT_12813',
 'RT_14504',
 'RT_13288',
 'RT_15693',
 'RT_11583',
 'RT_9845',
 'RT_11626',
 'RT_9111',
 'RT_16343',
 'RT_14025',
 'RT_9260',
 'RT_9400',
 'RT_13520',
 'RT_13570',
 'RT_14226',
 'RT_14224',
 'RT_14256',
 'RT_16691',
 'RT_8597',
 'RT_15573',
 'RT_12149',
 'RT_16484',
 'RT_13657',
 'RT_12192',
 'RT_16036',
 'RT_15833',
 'RT_9114',
 'RT_14153',
 'RT_11887',
 'RT_13981',
 'RT_11323',
 'RT_12258',
 'RT_15098',
 'RT_14067',
 'RT_8712',
 'RT_15713',
 'RT_9779',
 'RT_13817',
 'RT_9279',
 'RT_12181',
 'RT_9883',
 'RT_10316',
 'RT_11399',
 'RT_8915',
 'RT_9974',
 'RT_16306',
 'RT_13309',
 'RT_16578',
 'RT_11464',
 'RT_15301',
 'RT_12762',
 'RT_14431',
 'RT_14154',
 'RT_13656',
 'RT_16437',
 'RT_13038',
 'RT_13461',
 'RT_14590',
 'RT_9742',
 'RT_11155',
 'RT_10217',
 'RT_16376',
 'RT_13776',
 'RT_14890',
 'RT_13971',
 'RT_9754',
 'RT_12401',
 'RT_13368',
 'RT_10214',
 'RT_16424',
 'RT_14968',
 'RT_14259',
 'RT_16662',
 'RT_15158',
 'RT_16233',
 'RT_14252',
 'RT_14125',
 'RT_10647',
 'RT_8774',
 'RT_12228',
 'RT_13747',
 'RT_14796',
 'RT_9907',
 'RT_15314',
 'RT_11921',
 'RT_12816',
 'RT_8868',
 'RT_13975',
 'RT_8602',
 'RT_13557',
 'RT_10037',
 'RT_8560',
 'RT_9588',
 'RT_14598',
 'RT_16781',
 'RT_13162',
 'RT_13646',
 'RT_15009',
 'RT_10336',
 'RT_8425',
 'RT_13477',
 'RT_16347',
 'RT_14278',
 'RT_12147',
 'RT_9514',
 'RT_14617',
 'RT_15659',
 'RT_16707',
 'RT_16611',
 'RT_12304',
 'RT_13134',
 'RT_11280',
 'RT_11548',
 'RT_14691',
 'RT_8430',
 'RT_13107',
 'RT_14615',
 'RT_14694',
 'RT_10682',
 'RT_14860',
 'RT_14653',
 'RT_11868',
 'RT_9021',
 'RT_12095',
 'RT_8988',
 'RT_10274',
 'RT_8656',
 'RT_13966',
 'RT_16195',
 'RT_16028',
 'RT_16809',
 'RT_14511',
 'RT_14533',
 'RT_14523',
 'RT_12843',
 'RT_9998',
 'RT_15133',
 'RT_13818',
 'RT_14472',
 'RT_15124',
 'RT_12755',
 'RT_15606',
 'RT_12444',
 'RT_8607',
 'RT_16225',
 'RT_10318',
 'RT_11554',
 'RT_15383',
 'RT_16011',
 'RT_9042',
 'RT_16080',
 'RT_11697',
 'RT_15051',
 'RT_9350',
 'RT_8850',
 'RT_15768',
 'RT_10010',
 'RT_13470',
 'RT_8660',
 'RT_12363',
 'RT_15637',
 'RT_12701',
 'RT_12091',
 'RT_11604',
 'RT_12133',
 'RT_10134',
 'RT_15425',
 'RT_15710',
 'RT_11107',
 'RT_13491',
 'RT_15670',
 'RT_13084',
 'RT_11305',
 'RT_9163',
 'RT_15169',
 'RT_14405',
 'RT_16668',
 'RT_15131',
 'RT_9880',
 'RT_12065',
 'RT_14611',
 'RT_15394',
 'RT_9540',
 'RT_11971',
 'RT_13415',
 'RT_16118',
 'RT_10466',
 'RT_11776',
 'RT_14718',
 'RT_12709',
 'RT_9652',
 'RT_10694',
 'RT_13870',
 'RT_15304',
 'RT_10827',
 'RT_8554',
 'RT_12392',
 'RT_13376',
 'RT_10200',
 'RT_15761',
 'RT_9601',
 'RT_11264',
 'RT_11525',
 'RT_14489',
 'RT_9380',
 'RT_15416',
 'RT_14207',
 'RT_15623',
 'RT_16401',
 'RT_16116',
 'RT_15942',
 'RT_14517',
 'RT_14385',
 'RT_12616',
 'RT_16101',
 'RT_15638',
 'RT_11748',
 'RT_11493',
 'RT_14448',
 'RT_10257',
 'RT_10531',
 'RT_10994',
 'RT_9589',
 'RT_13416',
 'RT_14065',
 'RT_13602',
 'RT_10196',
 'RT_14644',
 'RT_8383',
 'RT_12032',
 'RT_13175',
 'RT_10455',
 'RT_10645',
 'RT_10693',
 'RT_10782',
 'RT_11086',
 'RT_16064',
 'RT_10828',
 'RT_9072',
 'RT_12476',
 'RT_10477',
 'RT_15464',
 'RT_15645',
 'RT_12242',
 'RT_9377',
 'RT_16673',
 'RT_12661',
 'RT_11750',
 'RT_10964',
 'RT_9552',
 'RT_9902',
 'RT_13694',
 'RT_11490',
 'RT_16810',
 'RT_14903',
 'RT_16098',
 'RT_13079',
 'RT_9078',
 'RT_15914',
 'RT_13178',
 'RT_13536',
 'RT_10332',
 'RT_8449',
 'RT_10566',
 'RT_16351',
 'RT_12645',
 'RT_11498',
 'RT_15780',
 'RT_8574',
 'RT_14557',
 'RT_11218',
 'RT_10758',
 'RT_13854',
 'RT_14967',
 'RT_16479',
 'RT_11494',
 'RT_13262',
 'RT_11614',
 'RT_10850',
 'RT_8908',
 'RT_16635',
 'RT_11169',
 'RT_9362',
 'RT_11298',
 'RT_11658',
 'RT_16014',
 'RT_11479',
 'RT_15112',
 'RT_11745',
 'RT_13540',
 'RT_16190',
 'RT_16130',
 'RT_12885',
 'RT_16361',
 'RT_9691',
 'RT_11920',
 'RT_10178',
 'RT_10692',
 'RT_15080',
 'RT_12062',
 'RT_12386',
 'RT_10430',
 'RT_12340',
 'RT_12787',
 'RT_9263',
 'RT_9646',
 'RT_15864',
 'RT_14006',
 'RT_8638',
 'RT_8589',
 'RT_12272',
 'RT_15583',
 'RT_10131',
 'RT_13298',
 'RT_16244',
 'RT_10403',
 'RT_12748',
 'RT_14542',
 'RT_10445',
 'RT_11661',
 'RT_9846',
 'RT_8943',
 'RT_14463',
 'RT_12867',
 'RT_14889',
 'RT_13736',
 'RT_11364',
 'RT_11308',
 'RT_12060',
 'RT_12967',
 'RT_13944',
 'RT_10824',
 'RT_15994',
 'RT_9170',
 'RT_8938',
 'RT_13064',
 'RT_11619',
 'RT_10821',
 'RT_10893',
 'RT_13091',
 'RT_12895',
 'RT_12257',
 'RT_16799',
 'RT_11309',
 'RT_9468',
 'RT_10020',
 'RT_9355',
 'RT_11782',
 'RT_16708',
 'RT_16414',
 'RT_11872',
 'RT_13148',
 'RT_14135',
 'RT_15032',
 'RT_9098',
 'RT_12290',
 'RT_13238',
 'RT_12351',
 'RT_11291',
 'RT_10475',
 'RT_10761',
 'RT_12394',
 'RT_13133',
 'RT_16218',
 'RT_13519',
 'RT_10804',
 'RT_12196',
 'RT_13088',
 'RT_14364',
 'RT_15451',
 'RT_16612',
 'RT_9173',
 'RT_15740',
 'RT_12343',
 'RT_10998',
 'RT_16716',
 'RT_9467',
 'RT_11398',
 'RT_11265',
 'RT_11064',
 'RT_15816',
 'RT_10270',
 'RT_10405',
 'RT_14624',
 'RT_11201',
 'RT_13546',
 'RT_9165',
 'RT_14534',
 'RT_12556',
 'RT_11122',
 'RT_8504',
 'RT_12832',
 'RT_15579',
 'RT_15848',
 'RT_9823',
 'RT_12969',
 'RT_9521',
 'RT_15541',
 'RT_13946',
 'RT_15140',
 'RT_12818',
 'RT_13462',
 'RT_15962',
 'RT_14573',
 'RT_12446',
 'RT_13548',
 'RT_14131',
 'RT_12892',
 'RT_15950',
 'RT_8799',
 'RT_11792',
 'RT_10075',
 'RT_13189',
 'RT_10775',
 'RT_16822',
 'RT_15008',
 'RT_14401',
 'RT_14340',
 'RT_12165',
 'RT_14787',
 'RT_9231',
 'RT_10594',
 'RT_12485',
 'RT_9267',
 'RT_8948',
 'RT_14124',
 'RT_12049',
 'RT_9330',
 'RT_14087',
 'RT_12900',
 'RT_12507',
 'RT_13912',
 'RT_14548',
 'RT_11229',
 'RT_14423',
 'RT_16059',
 'RT_15166',
 'RT_16641',
 'RT_9730',
 'RT_12754',
 'RT_9736',
 'RT_13791',
 'RT_12518',
 'RT_8717',
 'RT_8911',
 'RT_9296',
 'RT_14393',
 'RT_9984',
 'RT_15654',
 'RT_9427',
 'RT_10596',
 'RT_12025',
 'RT_11422',
 'RT_11189',
 'RT_16483',
 'RT_15600',
 'RT_13255',
 'RT_15021',
 'RT_8966',
 'RT_15375',
 'RT_10600',
 'RT_14854',
 'RT_10552',
 'RT_15578',
 'RT_14867',
 'RT_15895',
 'RT_8404',
 'RT_12810',
 'RT_8572',
 'RT_10754',
 'RT_15707',
 'RT_14505',
 'RT_16242',
 'RT_11886',
 'RT_9308',
 'RT_15763',
 'RT_14753',
 'RT_11384',
 'RT_10862',
 'RT_10833',
 'RT_10166',
 'RT_8976',
 'RT_11918',
 'RT_12853',
 'RT_11204',
 'RT_9084',
 'RT_11597',
 'RT_16086',
 'RT_14011',
 'RT_12607',
 'RT_14858',
 'RT_13829',
 'RT_13714',
 'RT_10211',
 'RT_12270',
 'RT_9665',
 'RT_13936',
 'RT_8531',
 'RT_14308',
 'RT_14054',
 'RT_11984',
 'RT_14473',
 'RT_8704',
 'RT_15125',
 'RT_12612',
 'RT_9556',
 'RT_16577',
 'RT_16768',
 'RT_12930',
 'RT_9002',
 'RT_8407',
 'RT_9867',
 'RT_15463',
 'RT_16693',
 'RT_16511',
 'RT_14675',
 'RT_8411',
 'RT_13013',
 'RT_9757',
 'RT_10822',
 'RT_12238',
 'RT_10152',
 'RT_15875',
 'RT_10625',
 'RT_15071',
 'RT_10547',
 'RT_10246',
 'RT_11952',
 'RT_11046',
 'RT_11267',
 'RT_10820',
 'RT_8982',
 'RT_9546',
 'RT_8563',
 'RT_13812',
 'RT_8399',
 'RT_8751',
 'RT_15939',
 'RT_13877',
 'RT_16269',
 'RT_9760',
 'RT_9804',
 'RT_9209',
 'RT_13239',
 'RT_9992',
 'RT_10169',
 'RT_14075',
 'RT_16188',
 'RT_10443',
 'RT_10426',
 'RT_12503',
 'RT_11132',
 'RT_14916',
 'RT_14206',
 'RT_12870',
 'RT_13986',
 'RT_9985',
 'RT_11347',
 'RT_8539',
 'RT_12169',
 'RT_16079',
 'RT_14507',
 'RT_9223',
 'RT_16631',
 'RT_12439',
 'RT_13392',
 'RT_10987',
 'RT_11486',
 'RT_16798',
 'RT_15391',
 'RT_13447',
 'RT_13858',
 'RT_8747',
 'RT_8823',
 'RT_8648',
 'RT_9795',
 'RT_15302',
 'RT_13644',
 'RT_12375',
 'RT_16062',
 'RT_9412',
 'RT_14140',
 'RT_12643',
 'RT_16473',
 'RT_8855',
 'RT_13367',
 'RT_15436',
 'RT_12534',
 'RT_13211',
 'RT_11945',
 'RT_13366',
 'RT_15027',
 'RT_9099',
 'RT_12988',
 'RT_8443',
 'RT_16670',
 'RT_9052',
 'RT_13855',
 'RT_11146',
 'RT_13598',
 'RT_15312',
 'RT_14704',
 'RT_15788',
 'RT_16648',
 'RT_12333',
 'RT_9828',
 'RT_9539',
 'RT_8743',
 'RT_15257',
 'RT_9009',
 'RT_12852',
 'RT_9939',
 'RT_10167',
 'RT_13577',
 'RT_8455',
 'RT_15643',
 'RT_14979',
 'RT_10023',
 'RT_14652',
 'RT_10415',
 'RT_14450',
 'RT_10768',
 'RT_12052',
 'RT_10004',
 'RT_15006',
 'RT_13063',
 'RT_15679',
 'RT_14090',
 'RT_9122',
 'RT_13904',
 'RT_12019',
 'RT_11962',
 'RT_14695',
 'RT_8629',
 'RT_11423',
 'RT_14432',
 'RT_11909',
 'RT_11239',
 'RT_15499',
 'RT_9403',
 'RT_9614',
 'RT_9112',
 'RT_13850',
 'RT_11913',
 'RT_8702',
 'RT_9567',
 'RT_13663',
 'RT_14825',
 'RT_15682',
 'RT_14677',
 'RT_8893',
 'RT_14273',
 'RT_16229',
 'RT_8444',
 'RT_10438',
 'RT_10065',
 'RT_15858',
 'RT_11884',
 'RT_16125',
 'RT_14971',
 'RT_10498',
 'RT_9853',
 'RT_13857',
 'RT_10601',
 'RT_10527',
 'RT_14835',
 'RT_12547',
 'RT_8781',
 'RT_9390',
 'RT_13941',
 'RT_15465',
 'RT_11131',
 'RT_15402',
 'RT_12450',
 'RT_10323',
 'RT_10275',
 'RT_13031',
 'RT_9069',
 'RT_11097',
 'RT_12146',
 'RT_15946',
 'RT_14440',
 'RT_13653',
 'RT_9732',
 'RT_15522',
 'RT_10869',
 'RT_12373',
 'RT_10920',
 'RT_14779',
 'RT_8423',
 'RT_14732',
 'RT_14579',
 'RT_12686',
 'RT_10923',
 'RT_15366',
 'RT_9892',
 'RT_11959',
 'RT_16220',
 'RT_10988',
 'RT_14451',
 'RT_14735',
 'RT_9578',
 'RT_13182',
 'RT_13458',
 'RT_13399',
 'RT_14740',
 'RT_8593',
 'RT_8974',
 'RT_14324',
 'RT_15127',
 'RT_10917',
 'RT_9960',
 'RT_15574',
 'RT_14253',
 'RT_16136',
 'RT_12983',
 'RT_15180',
 'RT_14937',
 'RT_15084',
 'RT_11840',
 'RT_12804',
 'RT_11005',
 'RT_15162',
 'RT_10155',
 'RT_8677',
 'RT_14133',
 'RT_14955',
 'RT_16245',
 'RT_12499',
 'RT_16286',
 'RT_11199',
 'RT_15846',
 'RT_14992',
 'RT_8635',
 'RT_10321',
 'RT_9127',
 'RT_11437',
 'RT_9572',
 'RT_14170',
 'RT_12227',
 'RT_11159',
 'RT_9653',
 'RT_8508',
 'RT_10462',
 'RT_12738',
 'RT_11692',
 'RT_11900',
 'RT_15273',
 'RT_14725',
 'RT_12129',
 'RT_15092',
 'RT_16319',
 'RT_15118',
 'RT_13849',
 'RT_13438',
 'RT_11426',
 'RT_15841',
 'RT_12475',
 'RT_15303',
 'RT_8462',
 'RT_9809',
 'RT_12856',
 'RT_15113',
 'RT_12080',
 'RT_13530',
 'RT_8694',
 'RT_8715',
 'RT_9104',
 'RT_10215',
 'RT_12993',
 'RT_16585',
 'RT_12356',
 'RT_12608',
 'RT_11573',
 'RT_14213',
 'RT_16093',
 'RT_14563',
 'RT_11864',
 'RT_16309',
 'RT_14823',
 'RT_15986',
 'RT_11586',
 'RT_11688',
 'RT_13136',
 'RT_8575',
 'RT_9340',
 'RT_12877',
 'RT_9361',
 'RT_12496',
 'RT_10711',
 'RT_11180',
 'RT_10785',
 'RT_16844',
 'RT_11164',
 'RT_8741',
 'RT_13203',
 'RT_9770',
 'RT_11071',
 'RT_9819',
 'RT_15952',
 'RT_13771',
 'RT_16509',
 'RT_10524',
 'RT_10857',
 'RT_13512',
 'RT_14795',
 'RT_14852',
 'RT_16387',
 'RT_9512',
 'RT_15596',
 'RT_12941',
 'RT_16104',
 'RT_12371',
 'RT_16520',
 'RT_11285',
 'RT_10797',
 'RT_14089',
 'RT_16029',
 'RT_12798',
 'RT_13638',
 'RT_14628',
 'RT_14683',
 ...}

In [31]:
print(f'genes in model {len(genes)}')
print(f'genes in data {len(genes_in_data)}')
print(f'model genes not in data {len(genes.difference(genes_in_data))}')
print(f'data genes not in model {len(genes_in_data.difference(genes))}')

genes in model 1142
genes in data 8344
model genes not in data 31
data genes not in model 7233

In [32]:
ge_in_our_data = ge_data.loc[ge_data.genename.isin(genes)].copy()
ge_in_our_data

,RTO4_ID,M9_Glucose,YNB Glucose,YNB Glucose plus Arginine,YNB Glucose plus Methionine,YNB Glucose plus Dropout Complete,Fitness During Lipid Mobilization,YNB Oleic Acid,YNB Cellobiose,YNB_CSM_KPO4 Glucose,...,YNB_PO4_L-arabitol,YNB_PO4_xylitol,YNB_PO4_D-ribulose,YNB_PO4_D-xylulose,YNB_PO4_CSM_Galactose,YNB_PO4_CSM_Lactate,YNB_PO4_CSM_Valine,YNB_PO4_CSM_Leucine,YNB_PO4_CSM_Phenylalanine,genename
0,10000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RT_10000
7,10007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RT_10007
10,10010,-0.130360,-0.558565,-0.332740,-0.260252,-0.383313,-0.030872,-0.611898,-0.097438,-0.035705,...,-0.732452,-0.836823,-0.490688,-0.534801,-0.035402,-0.427705,-0.143231,-0.240726,-0.376989,RT_10010
12,10012,0.120928,-0.056685,-0.143451,-0.205516,-0.240177,-0.282986,-0.039371,0.021825,-0.185444,...,-0.185901,-0.347117,-0.043478,0.049640,-0.330369,-0.571357,-0.390520,-4.921371,-0.586259,RT_10012
16,10017,-0.117902,0.001326,0.216430,0.169223,-0.072431,0.382748,0.455964,0.161420,0.012681,...,0.073421,0.076093,-0.266397,0.038548,0.024525,0.112220,-0.159979,-0.229817,-0.086100,RT_10017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8306,9962,-0.102349,0.101140,0.044222,0.206130,0.142080,0.189212,-0.012657,-0.097314,0.004740,...,0.039896,0.240334,0.321752,0.089398,-0.254636,-0.723065,-0.622660,-0.047665,0.811095,RT_9962
8323,9979,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RT_9979
8325,9981,-0.182969,-1.210120,-1.083946,-0.985173,-0.844407,-0.952909,-0.652234,0.200798,0.016013,...,-0.450650,-0.102575,-0.311876,-0.298921,-0.471137,-0.915556,-0.221405,-0.589374,-0.123179,RT_9981
8334,9990,-0.272603,-0.184758,0.337242,0.525320,-0.020653,0.544806,-0.110552,-0.359997,0.187456,...,-4.105096,-4.463727,-0.667114,-4.072184,-0.077310,0.459774,0.053585,0.211604,-0.229242,RT_9990
8339,9995,-0.808815,-1.067964,-1.066192,-0.112018,NaN,0.511979,1.222200,NaN,0.637911,...,-0.198884,0.387441,0.593386,0.796064,-0.916582,0.477380,0.268669,-0.754837,-1.102114,RT_9995

In [33]:
ge_in_our_data.dropna(subset=['M9_Glucose'], inplace=True)
ge_in_our_data

,RTO4_ID,M9_Glucose,YNB Glucose,YNB Glucose plus Arginine,YNB Glucose plus Methionine,YNB Glucose plus Dropout Complete,Fitness During Lipid Mobilization,YNB Oleic Acid,YNB Cellobiose,YNB_CSM_KPO4 Glucose,...,YNB_PO4_L-arabitol,YNB_PO4_xylitol,YNB_PO4_D-ribulose,YNB_PO4_D-xylulose,YNB_PO4_CSM_Galactose,YNB_PO4_CSM_Lactate,YNB_PO4_CSM_Valine,YNB_PO4_CSM_Leucine,YNB_PO4_CSM_Phenylalanine,genename
10,10010,-0.130360,-0.558565,-0.332740,-0.260252,-0.383313,-0.030872,-0.611898,-0.097438,-0.035705,...,-0.732452,-0.836823,-0.490688,-0.534801,-0.035402,-0.427705,-0.143231,-0.240726,-0.376989,RT_10010
12,10012,0.120928,-0.056685,-0.143451,-0.205516,-0.240177,-0.282986,-0.039371,0.021825,-0.185444,...,-0.185901,-0.347117,-0.043478,0.049640,-0.330369,-0.571357,-0.390520,-4.921371,-0.586259,RT_10012
16,10017,-0.117902,0.001326,0.216430,0.169223,-0.072431,0.382748,0.455964,0.161420,0.012681,...,0.073421,0.076093,-0.266397,0.038548,0.024525,0.112220,-0.159979,-0.229817,-0.086100,RT_10017
28,10029,-0.020871,0.052095,0.224890,0.241546,-0.067308,0.622053,-0.412340,0.096512,-0.167850,...,-0.759319,-0.288770,-0.648312,0.551737,-0.069712,-0.414340,0.039014,-0.424238,-1.523899,RT_10029
37,10038,-0.365987,-0.198609,-0.156681,0.504791,-0.298004,-0.330527,-0.754754,-0.425817,-0.064758,...,0.157148,0.081089,-0.082244,-0.037806,-0.397060,-0.226573,-0.212943,-0.605702,-0.036510,RT_10038
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8303,9959,-0.496589,-0.049252,-0.280461,-0.192801,-0.186293,0.094831,0.158215,-0.052001,-0.190215,...,-0.449143,-0.391230,-0.526536,-0.692617,-0.658693,-0.382288,-0.727372,-0.582871,0.019887,RT_9959
8306,9962,-0.102349,0.101140,0.044222,0.206130,0.142080,0.189212,-0.012657,-0.097314,0.004740,...,0.039896,0.240334,0.321752,0.089398,-0.254636,-0.723065,-0.622660,-0.047665,0.811095,RT_9962
8325,9981,-0.182969,-1.210120,-1.083946,-0.985173,-0.844407,-0.952909,-0.652234,0.200798,0.016013,...,-0.450650,-0.102575,-0.311876,-0.298921,-0.471137,-0.915556,-0.221405,-0.589374,-0.123179,RT_9981
8334,9990,-0.272603,-0.184758,0.337242,0.525320,-0.020653,0.544806,-0.110552,-0.359997,0.187456,...,-4.105096,-4.463727,-0.667114,-4.072184,-0.077310,0.459774,0.053585,0.211604,-0.229242,RT_9990
8339,9995,-0.808815,-1.067964,-1.066192,-0.112018,NaN,0.511979,1.222200,NaN,0.637911,...,-0.198884,0.387441,0.593386,0.796064,-0.916582,0.477380,0.268669,-0.754837,-1.102114,RT_9995

In [35]:
ge_in_our_data.loc[ge_in_our_data.M9_Glucose>.5, 'essential'] = True
ge_in_our_data.loc[ge_in_our_data.M9_Glucose<.5, 'essential'] = False
ge_in_our_data['comment'] = ''

In [36]:
ge_for_export = ge_in_our_data[['genename', 'essential','comment']].copy()
ge_for_export

      genename essential comment
10    RT_10010     False
12    RT_10012     False
16    RT_10017     False
28    RT_10029     False
37    RT_10038     False
...        ...       ...     ...
8303   RT_9959     False
8306   RT_9962     False
8325   RT_9981     False
8334   RT_9990     False
8339   RT_9995     False

[720 rows x 3 columns]

In [37]:
import csv
ge_for_export.to_csv('ge_m9_glucose.csv', index=False, quoting=csv.QUOTE_ALL)